<div>
  <h2 id="page-heading" data-cy="InscricaoHeading">
    <span appTranslate="conexaoSolidariaApp.inscricao.home.title">Inscricaos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="conexaoSolidariaApp.inscricao.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-inscricao"
        [routerLink]="['/inscricao/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="conexaoSolidariaApp.inscricao.home.createLabel">Criar novo Inscricao</span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <app-filter [filters]="filters"></app-filter>

  @if (inscricaos?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span appTranslate="conexaoSolidariaApp.inscricao.home.notFound">Nenhum Inscricao encontrado</span>
    </div>
  }

  @if (inscricaos && inscricaos.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr appSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" appSortBy="id">
              <div class="d-flex">
                <span appTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="data">
              <div class="d-flex">
                <span appTranslate="conexaoSolidariaApp.inscricao.data">Data</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="user.login">
              <div class="d-flex">
                <span appTranslate="conexaoSolidariaApp.inscricao.user">User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="evento.nome">
              <div class="d-flex">
                <span appTranslate="conexaoSolidariaApp.inscricao.evento">Evento</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (inscricao of inscricaos; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/inscricao', inscricao.id, 'view']">{{ inscricao.id }}</a>
              </td>
              <td>{{ inscricao.data | formatMediumDatetime }}</td>
              <td>
                {{ inscricao.user?.login }}
              </td>
              <td>
                @if (inscricao.evento) {
                  <div>
                    <a [routerLink]="['/eventos', inscricao.evento.id, 'view']">{{ inscricao.evento.nome }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/inscricao', inscricao.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" appTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a [routerLink]="['/inscricao', inscricao.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" appTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(inscricao)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" appTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (inscricaos && inscricaos.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
