<body class="ImgFundo">
  <div class="eventos-container">
    <h2
      id="page-heading"
      data-cy="EventosHeading"
      class="text-center"
      style="margin-bottom: 50px; margin-left: 200px; font-weight: bold; text-overflow: ellipsis"
    ></h2>

    <div class="search-bar-container">
      <input type="text" placeholder="Pesquisar eventos..." [(ngModel)]="searchTerm" class="search-bar" />
      <button type="button" class="btn-search" (click)="filterEvents()">
        <fa-icon icon="search"></fa-icon>
      </button>
    </div>

    <app-alert-error></app-alert-error>
    <app-alert></app-alert>
    <app-filter [filters]="filters"></app-filter>

    <div *ngIf="eventos?.length === 0" class="alert alert-warning text-center" id="no-result">
      <span appTranslate="conexaoSolidariaApp.eventos.home.notFound">Nenhum Evento encontrado</span>
    </div>

    <app-alert-error></app-alert-error>
    <app-alert></app-alert>
    <app-filter [filters]="filters"></app-filter>

    @if (eventos?.length === 0) {
      <div class="alert text-center" id="no-result">
        <span appTranslate="conexaoSolidariaApp.eventos.home.notFound">Nenhum Evento encontrado</span>
      </div>
    }

    @if (eventos && eventos.length > 0) {
      <div *ngIf="user?.tipoUser === null">Nenhum Evento encontrado</div>

      <div *ngIf="user?.tipoUser === 'COLABORADOR'">
        <h2 id="page-heading" data-cy="EventosHeading">
          <div class="d-flex justify-content-end mb-3">
            <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
              <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
              <span appTranslate="conexaoSolidariaApp.eventos.home.refreshListLabel">Atualizar lista</span>
            </button>
          </div>
        </h2>
        <div class="event-container">
          <div class="event-card" *ngFor="let evento of eventos; let i = index; trackBy: trackId">
            <img class="event-image" src="../../../../content/images/jhipster_family_member_1.svg" alt="Imagem do Evento" />
            <h3>{{ evento.nome }}</h3>
            <p class="card-text">
              <span [ngClass]="evento.isInscrito ? 'text-success' : 'text-muted'">
                {{ evento.isInscrito ? 'Inscrito nesse evento' : 'Ainda não inscrito' }}
              </span>
            </p>
            <p class="event-description">Data: {{ evento.dataEventFormat }}</p>
            <p class="event-description">Hora Início: {{ evento.horaInicio }}</p>
            <p class="event-description">Hora Término: {{ evento.horaTermino }}</p>
            <p class="event-description">Função: {{ evento.observacao }}</p>
            <p-footer>
              <button (click)="Inscrever(i)" [disabled]="evento.isInscrito">
                {{ evento.isInscrito ? 'Inscrito' : 'Inscrever-se' }}
              </button>
            </p-footer>
          </div>
        </div>
        <!-- Modal de confirmação de inscrição -->
        <p-dialog [(visible)]="showModal" [modal]="true" header="Confirmação de Inscrição" [closable]="false" [style]="{ width: '400px' }">
          <p>Tem certeza de que deseja se inscrever neste evento?</p>

          <!-- Botões de confirmação e cancelamento -->
          <div class="ui-dialog-footer" style="text-align: right">
            <button pButton type="button" label="Sim" icon="pi pi-check" (click)="confirmarInscricao()"></button>
            <button pButton type="button" label="Não" icon="pi pi-times" (click)="showModal = false" class="p-button-secondary"></button>
          </div>
        </p-dialog>
      </div>

      <div *ngIf="user?.tipoUser === 'ENTIDADE'">
        <div class="eventos-container">
          <h2 id="page-heading" data-cy="EventosHeading">
            <div class="d-flex justify-content-end mb-3">
              <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
                <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
                <span appTranslate="conexaoSolidariaApp.eventos.home.refreshListLabel">Atualizar lista</span>
              </button>
              <button
                id="jh-create-entity"
                data-cy="entityCreateButton"
                class="btn btn-primary jh-create-entity create-eventos"
                [routerLink]="['/eventos/new']"
              >
                <fa-icon icon="plus"></fa-icon>
                <span appTranslate="conexaoSolidariaApp.eventos.home.createLabel">Criar novo Evento</span>
              </button>
            </div>
          </h2>

          <app-alert-error></app-alert-error>
          <app-alert></app-alert>
          <app-filter [filters]="filters"></app-filter>

          <div *ngIf="eventos?.length === 0" class="alert alert-warning text-center" id="no-result">
            <span appTranslate="conexaoSolidariaApp.eventos.home.notFound">Nenhum Evento encontrado</span>
          </div>

          <div *ngIf="eventos && eventos.length > 0" class="card-container">
            <div class="row">
              <div *ngFor="let evento of eventos; trackBy: trackId" class="col-md-4 mb-4">
                <div class="card h-100">
                  <div class="card-body">
                    <h5 class="card-title">{{ evento.nome }}</h5>
                    <div class="card-text">
                      <p><strong>Código:</strong> {{ evento.id }}</p>
                      <p><strong>Data Cadastro:</strong> {{ evento.dataCadastro | formatMediumDatetime }}</p>
                      <p><strong>Data Evento:</strong> {{ evento.dataEvento | customDateTime }}</p>
                      <p><strong>Hora Início:</strong> {{ evento.horaInicio }}</p>
                      <p><strong>Hora Término:</strong> {{ evento.horaTermino }}</p>
                      <p><strong>Observação:</strong> {{ evento.observacao }}</p>
                      <p><strong>Usuário:</strong> {{ evento.user?.login }}</p>
                    </div>
                  </div>
                  <div class="card-footer">
                    <a [routerLink]="['/eventos', evento.id, 'view']" class="btn btn-info btn-sm">
                      <fa-icon icon="eye"></fa-icon> Visualizar
                    </a>
                    <a [routerLink]="['/eventos', evento.id, 'edit']" class="btn btn-primary btn-sm">
                      <fa-icon icon="pencil-alt"></fa-icon> Editar
                    </a>
                    <button type="button" (click)="delete(evento)" class="btn btn-danger btn-sm">
                      <fa-icon icon="times"></fa-icon> Excluir
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- <div *ngIf="eventos && eventos.length > 0" class="d-flex justify-content-center mt-3">
            <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
            <ngb-pagination
              [collectionSize]="totalItems"
              [page]="page"
              [pageSize]="itemsPerPage"
              [maxSize]="5"
              [rotate]="true"
              [boundaryLinks]="true"
              (pageChange)="navigateToPage($event)"
            ></ngb-pagination>
          </div> -->
        </div>
      </div>

      <!-- <div class="event-container">
        <p-card *ngFor="let evento of eventos; trackBy: trackId" header="{{evento.nome}}" styleClass="event-card">
          <img src="../../../../content/images/jhipster_family_member_1.svg" alt="Imagem do Evento" class="event-image" />
          <div class="event-description">{{ evento?.observacao }}</div>
          <p-footer>
            <button pButton type="button" label="Inscrever-se" icon="pi pi-check" class="event-button"></button>
          </p-footer>
        </p-card>
      </div> -->
    }

    <!-- @if (eventos && eventos.length > 0) {
      <div class="pagination-container">
        <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    } -->
  </div>
</body>

<style>
  body {
    /* background: linear-gradient(135deg, #e0f7fa, #fff3e0); */
    background-size: cover; /* Ajusta a imagem para cobrir toda a tela */
    background-attachment: fixed;
    font-family: 'Arial', sans-serif;
  }
  /* Container principal */
  .eventos-container {
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
  }

  /* Estilo da barra de pesquisa e botões */
  .search-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    gap: 10px;
  }

  .search-bar {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
    min-width: 300px;
  }

  .btn-search {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .btn-search:hover {
    background-color: #0056b3;
  }

  .action-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  .btn-refresh,
  .btn-create {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .btn-refresh:hover,
  .btn-create:hover {
    background-color: #0056b3;
  }

  /* Heading */
  #page-heading {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-bottom: 40px;
    margin-left: 0;
  }

  /* Container dos eventos */
  .event-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 10px;
  }

  /* Cartão de eventos */
  .event-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
    max-width: 400px; /* Limita a largura máxima do card */
    width: 100%; /* Faz o card ocupar 100% da largura disponível */
  }

  .event-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  }

  .event-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  /* Descrição do evento */
  .event-description {
    font-size: 1rem;
    color: #333;
    margin: 8px 0;
    max-height: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* Botão de inscrição */
  .event-button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
  }

  .event-button:hover {
    background-color: #0056b3;
  }

  /* Cartões de eventos responsivos */
  /* .card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
} */

  .card {
    background-color: #c7e9ff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Limita a largura máxima do card */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
  }

  .card-body {
    padding: 16px;
    display: flex;
    flex-direction: column;
  }

  .card-title {
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
    text-align: center;
  }

  .card-text {
    font-size: 1rem;
    color: #333;
  }

  .card-text p {
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
  }

  .card-text p:last-child {
    border-bottom: none;
  }

  .card-footer {
    padding: 10px;
    background-color: #f9f9f9;
    border-top: 1px solid #e0e0e0;
    display: flex;
    justify-content: center;
    gap: 8px;
  }

  /* Botões */
  .btn-sm {
    padding: 8px 12px;
    font-size: 0.9rem;
  }

  /* Responsividade */
  @media (max-width: 768px) {
    .search-bar-container {
      flex-direction: column;
      align-items: stretch;
    }

    #page-heading {
      font-size: 2rem;
      margin-bottom: 20px;
    }

    .card {
      width: 100%;
    }

    .search-bar {
      max-width: 100%;
    }
  }

  @media (max-width: 576px) {
    .event-container {
      grid-template-columns: 1fr;
    }

    .card {
      margin-left: 0;
    }

    .btn-search {
      margin-left: 0;
    }

    .event-button {
      padding: 8px;
    }
  }
</style>
