<div class="eventos-container">
  <h2 id="page-heading" data-cy="EventosHeading">
    <span appTranslate="conexaoSolidariaApp.eventos.home.title">Eventos</span>

    <div class="d-flex justify-content-end mb-3">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="conexaoSolidariaApp.eventos.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-eventos"
        [routerLink]="['/eventos/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="conexaoSolidariaApp.eventos.home.createLabel">Criar novo Evento</span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>
  <app-alert></app-alert>
  <app-filter [filters]="filters"></app-filter>

  @if (eventos?.length === 0) {
    <div class="alert alert-warning text-center" id="no-result">
      <span appTranslate="conexaoSolidariaApp.eventos.home.notFound">Nenhum Evento encontrado</span>
    </div>
  }

  @if (eventos && eventos.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped table-bordered">
        <thead>
          <tr appSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" appSortBy="id">Código</th>
            <th scope="col" appSortBy="nome">Nome</th>
            <th scope="col" appSortBy="dataCadastro">Data Cadastro</th>
            <th scope="col" appSortBy="dataEvento">Data Evento</th>
            <th scope="col" appSortBy="horaInicio">Hora Inicio</th>
            <th scope="col" appSortBy="horaTermino">Hora Termino</th>
            <th scope="col" appSortBy="observacao">Observação</th>
            <th scope="col" appSortBy="user.login">Usuário</th>
            <th scope="col" class="text-center">Ações</th>
          </tr>
        </thead>
        <tbody>
          @for (eventos of eventos; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/eventos', eventos.id, 'view']">{{ eventos.id }}</a>
              </td>
              <td>{{ eventos.nome }}</td>
              <td>{{ eventos.dataCadastro | formatMediumDatetime }}</td>
              <td>{{ eventos.dataEvento | customDateTime }}</td>
              <td>{{ eventos.horaInicio }}</td>
              <td>{{ eventos.horaTermino }}</td>
              <td>{{ eventos.observacao }}</td>
              <td>{{ eventos.user?.login }}</td>
              <td class="text-center">
                <div class="btn-group">
                  <a [routerLink]="['/eventos', eventos.id, 'view']" class="btn btn-info btn-sm">
                    <fa-icon icon="eye"></fa-icon> Visualizar
                  </a>
                  <a [routerLink]="['/eventos', eventos.id, 'edit']" class="btn btn-primary btn-sm">
                    <fa-icon icon="pencil-alt"></fa-icon> Editar
                  </a>
                  <button type="submit" (click)="delete(eventos)" class="btn btn-danger btn-sm">
                    <fa-icon icon="times"></fa-icon> Excluir
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }

  @if (eventos && eventos.length > 0) {
    <div class="pagination-container">
      <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  }
</div>

<style></style>
