<div class="eventos-container">
  <h2
    id="page-heading"
    data-cy="EventosHeading"
    class="text-center"
    style="margin-bottom: 50px; font-weight: bold; text-overflow: ellipsis"
  >
    <!-- <span appTranslate="conexaoSolidariaApp.eventos.home.title">Eventos</span> -->

    <!-- <div class="d-flex justify-content-end mb-3">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="conexaoSolidariaApp.eventos.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-eventos"
        [routerLink]="['/eventos/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="conexaoSolidariaApp.eventos.home.createLabel">Criar novo Evento</span>
      </button>
    </div> -->
    <span>Visualizar Eventos</span>
  </h2>

  <app-alert-error></app-alert-error>
  <app-alert></app-alert>
  <app-filter [filters]="filters"></app-filter>

  @if (eventos?.length === 0) {
    <div class="alert text-center" id="no-result">
      <span appTranslate="conexaoSolidariaApp.eventos.home.notFound">Nenhum Evento encontrado</span>
    </div>
  }

  @if (eventos && eventos.length > 0) {
    <div *ngIf="user?.tipoUser === null">Nenhum Evento encontrado</div>

    <div *ngIf="user?.tipoUser === 'COLABORADOR'">
      <div class="event-container">
        <div class="event-card" *ngFor="let evento of eventos; trackBy: trackId">
          <img class="event-image" src="../../../../content/images/jhipster_family_member_1.svg" alt="Imagem do Evento" />
          <h3>{{ evento.nome }}</h3>
          <p class="event-description">{{ evento.observacao }}</p>
          <p-footer>
            <button pButton type="button" label="Inscrever-se" icon="pi pi-check" class="event-button" (click)="Inscrever()"></button>
          </p-footer>
        </div>
      </div>
    </div>

    <div *ngIf="user?.tipoUser === 'ENTIDADE'">
      <div class="event-container">
        <div class="event-card" *ngFor="let evento of eventos; trackBy: trackId">
          <img class="event-image" src="../../../../content/images/jhipster_family_member_1.svg" alt="Imagem do Evento" />
          <h3>{{ evento.nome }}</h3>
          <p class="event-description">{{ evento.observacao }}</p>
          <p-footer>
            <button
              pButton
              type="button"
              label="Visualizar candidatos"
              icon="pi pi-eye"
              class="event-button"
              (click)="VisualizarCandidatos()"
            ></button>
          </p-footer>
        </div>
      </div>
    </div>

    <!-- <div class="event-container">
      <p-card *ngFor="let evento of eventos; trackBy: trackId" header="{{evento.nome}}" styleClass="event-card">
        <img src="../../../../content/images/jhipster_family_member_1.svg" alt="Imagem do Evento" class="event-image" />
        <div class="event-description">{{ evento?.observacao }}</div>
        <p-footer>
          <button pButton type="button" label="Inscrever-se" icon="pi pi-check" class="event-button"></button>
        </p-footer>
      </p-card>
    </div> -->
  }

  <!-- @if (eventos && eventos.length > 0) {
    <div class="pagination-container">
      <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  } -->
</div>

<style></style>
