<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="app-inscricao-heading"
        data-cy="InscricaoCreateUpdateHeading"
        appTranslate="conexaoSolidariaApp.inscricao.home.createOrEditLabel"
      >
        Criar ou editar Inscricao
      </h2>

      <div>
        <app-alert-error></app-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" appTranslate="conexaoSolidariaApp.inscricao.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_data" appTranslate="conexaoSolidariaApp.inscricao.data">Data</label>
          <div class="d-flex">
            <input
              id="field_data"
              data-cy="data"
              type="datetime-local"
              class="form-control"
              name="data"
              formControlName="data"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_user" appTranslate="conexaoSolidariaApp.inscricao.user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            @for (userOption of usersSharedCollection; track $index) {
              <option [ngValue]="userOption">{{ userOption.login }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_evento" appTranslate="conexaoSolidariaApp.inscricao.evento">Evento</label>
          <select
            class="form-control"
            id="field_evento"
            data-cy="evento"
            name="evento"
            formControlName="evento"
            [compareWith]="compareEventos"
          >
            <option [ngValue]="null"></option>
            @for (eventosOption of eventosSharedCollection; track $index) {
              <option [ngValue]="eventosOption">{{ eventosOption.nome }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span appTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span appTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
