<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Conexão Solidária</title>
    <link rel="stylesheet" href="" />
    <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
  </head>
  <body>
    <section class="ImgFundo">
      <div class="login-container">
        <div class="dividir">
          <div class="login-side">
            <div class="card-login">
              <form class="form-login" [formGroup]="registerForm">
                <!-- Voluntario -->
                <div *ngIf="UserOrEntity">
                  <div class="input-login">
                    <label for="login">Colaborador</label>
                    <input type="text" maxlength="50" placeholder="Digite seu usuário" formControlName="login" data-cy="login" pInputText />
                    <ng-container
                      *ngIf="registerForm.get('login')?.invalid && (registerForm.get('login')?.dirty || registerForm.get('login')?.touched)"
                    >
                      <small *ngIf="registerForm.get('login')?.errors?.required" class="form-text text-danger"
                        >O usuário é obrigatório.</small
                      >
                      <small *ngIf="registerForm.get('login')?.errors?.minlength" class="form-text text-danger"
                        >O usuário deve ter pelo menos 1 caractere.</small
                      >
                      <small *ngIf="registerForm.get('login')?.errors?.maxlength" class="form-text text-danger"
                        >O usuário não pode ter mais de 50 caracteres.</small
                      >
                      <small *ngIf="registerForm.get('login')?.errors?.pattern" class="form-text text-danger">O usuário é inválido.</small>
                    </ng-container>
                  </div>

                  <div class="input-login">
                    <label for="login">Cpf</label>
                    <p-inputMask mask="999.999.999-99" formControlName="cpf" data-cy="cpf" placeholder="Digite seu cpf" />
                    <!-- <ng-container
                      *ngIf="registerForm.get('login')?.invalid && (registerForm.get('login')?.dirty || registerForm.get('login')?.touched)"
                    >
                      <small *ngIf="registerForm.get('login')?.errors?.required" class="form-text text-danger"
                        >O usuário é obrigatório.</small
                      >
                      <small *ngIf="registerForm.get('login')?.errors?.minlength" class="form-text text-danger"
                        >O usuário deve ter pelo menos 1 caractere.</small
                      >
                      <small *ngIf="registerForm.get('login')?.errors?.maxlength" class="form-text text-danger"
                        >O usuário não pode ter mais de 50 caracteres.</small
                      >
                      <small *ngIf="registerForm.get('login')?.errors?.pattern" class="form-text text-danger">O usuário é inválido.</small>
                    </ng-container> -->
                  </div>

                  <div class="input-login">
                    <label for="email">Email</label>
                    <input type="text" maxlength="50" placeholder="Digite seu e-mail" formControlName="email" data-cy="email" pInputText />
                    <ng-container
                      *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)"
                    >
                      <small *ngIf="registerForm.get('email')?.errors?.required" class="form-text text-danger"
                        >O e-mail é obrigatório.</small
                      >
                      <small *ngIf="registerForm.get('email')?.errors?.invalid" class="form-text text-danger">E-mail inválido.</small>
                      <small *ngIf="registerForm.get('email')?.errors?.minlength" class="form-text text-danger"
                        >O e-mail deve ter pelo menos 5 caracteres.</small
                      >
                      <small *ngIf="registerForm.get('email')?.errors?.maxlength" class="form-text text-danger"
                        >O e-mail não pode ter mais de 50 caracteres.</small
                      >
                    </ng-container>
                  </div>

                  <div class="input-login">
                    <label for="password">Senha</label>
                    <p-password
                      [toggleMask]="true"
                      [maxlength]="20"
                      [feedback]="false"
                      placeholder="Digite sua senha"
                      formControlName="password"
                      data-cy="password"
                    ></p-password>
                    <ng-container
                      *ngIf="
                        registerForm.get('password')?.invalid &&
                        (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)
                      "
                    >
                      <small *ngIf="registerForm.get('password')?.errors?.required" class="form-text text-danger"
                        >A senha é obrigatória.</small
                      >
                      <small *ngIf="registerForm.get('password')?.errors?.minlength" class="form-text text-danger"
                        >A senha deve ter pelo menos 4 caracteres.</small
                      >
                      <small *ngIf="registerForm.get('password')?.errors?.maxlength" class="form-text text-danger"
                        >A senha não pode ter mais de 50 caracteres.</small
                      >
                    </ng-container>
                  </div>

                  <div class="input-login">
                    <label for="confirmPassword">Confirmar Senha</label>
                    <p-password
                      [toggleMask]="true"
                      [maxlength]="20"
                      [feedback]="false"
                      placeholder="Confirme sua senha"
                      formControlName="confirmPassword"
                      data-cy="confirmPassword"
                    ></p-password>
                    <ng-container
                      *ngIf="
                        registerForm.get('confirmPassword')?.invalid &&
                        (registerForm.get('confirmPassword')?.dirty || registerForm.get('confirmPassword')?.touched)
                      "
                    >
                      <small *ngIf="registerForm.get('confirmPassword')?.errors?.required" class="form-text text-danger"
                        >A confirmação da senha é obrigatória.</small
                      >
                      <small *ngIf="registerForm.get('confirmPassword')?.errors?.minlength" class="form-text text-danger"
                        >A confirmação da senha deve ter pelo menos 4 caracteres.</small
                      >
                      <small *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength" class="form-text text-danger"
                        >A confirmação da senha não pode ter mais de 50 caracteres.</small
                      >
                    </ng-container>
                  </div>

                  <div style="margin-top: 10px; color: rgb(0, 176, 235); font-size: 20px">
                    <span>Criar uma conta como </span>
                    <a class="alert-link" (click)="newEntity()">Entidade</a>
                  </div>
                </div>
                <!-- Entidade -->
                <div *ngIf="!UserOrEntity">
                  <div class="input-login">
                    <label for="login">Entidade</label>
                    <input
                      type="text"
                      maxlength="50"
                      placeholder="Digite sua entidade"
                      formControlName="login"
                      data-cy="login"
                      pInputText
                    />
                    <ng-container
                      *ngIf="registerForm.get('login')?.invalid && (registerForm.get('login')?.dirty || registerForm.get('login')?.touched)"
                    >
                      <small *ngIf="registerForm.get('login')?.errors?.required" class="form-text text-danger"
                        >A entidade é obrigatória.</small
                      >
                      <small *ngIf="registerForm.get('login')?.errors?.minlength" class="form-text text-danger"
                        >A entidade deve ter pelo menos 1 caractere.</small
                      >
                      <small *ngIf="registerForm.get('login')?.errors?.maxlength" class="form-text text-danger"
                        >A entidade não pode ter mais de 50 caracteres.</small
                      >
                      <small *ngIf="registerForm.get('login')?.errors?.pattern" class="form-text text-danger">A entidade é inválida.</small>
                    </ng-container>
                  </div>

                  <div class="input-login">
                    <label for="login">Cnpj</label>
                    <p-inputMask mask="99.999.999/9999-99" formControlName="cnpj" data-cy="cnpj" placeholder="Digite seu cnpj" />
                    <!-- <ng-container
                      *ngIf="registerForm.get('login')?.invalid && (registerForm.get('login')?.dirty || registerForm.get('login')?.touched)"
                    >
                      <small *ngIf="registerForm.get('login')?.errors?.required" class="form-text text-danger"
                        >O usuário é obrigatório.</small
                      >
                      <small *ngIf="registerForm.get('login')?.errors?.minlength" class="form-text text-danger"
                        >O usuário deve ter pelo menos 1 caractere.</small
                      >
                      <small *ngIf="registerForm.get('login')?.errors?.maxlength" class="form-text text-danger"
                        >O usuário não pode ter mais de 50 caracteres.</small
                      >
                      <small *ngIf="registerForm.get('login')?.errors?.pattern" class="form-text text-danger">O usuário é inválido.</small>
                    </ng-container> -->
                  </div>

                  <div class="input-login">
                    <label for="email">Email</label>
                    <input type="text" maxlength="50" placeholder="Digite seu e-mail" formControlName="email" data-cy="email" pInputText />
                    <ng-container
                      *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)"
                    >
                      <small *ngIf="registerForm.get('email')?.errors?.required" class="form-text text-danger"
                        >O e-mail é obrigatório.</small
                      >
                      <small *ngIf="registerForm.get('email')?.errors?.invalid" class="form-text text-danger">E-mail inválido.</small>
                      <small *ngIf="registerForm.get('email')?.errors?.minlength" class="form-text text-danger"
                        >O e-mail deve ter pelo menos 5 caracteres.</small
                      >
                      <small *ngIf="registerForm.get('email')?.errors?.maxlength" class="form-text text-danger"
                        >O e-mail não pode ter mais de 50 caracteres.</small
                      >
                    </ng-container>
                  </div>

                  <div class="input-login">
                    <label for="password">Senha</label>
                    <p-password
                      [toggleMask]="true"
                      [maxlength]="20"
                      [feedback]="false"
                      placeholder="Digite sua senha"
                      formControlName="password"
                      data-cy="password"
                    ></p-password>
                    <ng-container
                      *ngIf="
                        registerForm.get('password')?.invalid &&
                        (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)
                      "
                    >
                      <small *ngIf="registerForm.get('password')?.errors?.required" class="form-text text-danger"
                        >A senha é obrigatória.</small
                      >
                      <small *ngIf="registerForm.get('password')?.errors?.minlength" class="form-text text-danger"
                        >A senha deve ter pelo menos 4 caracteres.</small
                      >
                      <small *ngIf="registerForm.get('password')?.errors?.maxlength" class="form-text text-danger"
                        >A senha não pode ter mais de 50 caracteres.</small
                      >
                    </ng-container>
                  </div>

                  <div class="input-login">
                    <label for="confirmPassword">Confirmar Senha</label>
                    <p-password
                      [toggleMask]="true"
                      [maxlength]="20"
                      [feedback]="false"
                      placeholder="Confirme sua senha"
                      formControlName="confirmPassword"
                      data-cy="confirmPassword"
                    ></p-password>
                    <ng-container
                      *ngIf="
                        registerForm.get('confirmPassword')?.invalid &&
                        (registerForm.get('confirmPassword')?.dirty || registerForm.get('confirmPassword')?.touched)
                      "
                    >
                      <small *ngIf="registerForm.get('confirmPassword')?.errors?.required" class="form-text text-danger"
                        >A confirmação da senha é obrigatória.</small
                      >
                      <small *ngIf="registerForm.get('confirmPassword')?.errors?.minlength" class="form-text text-danger"
                        >A confirmação da senha deve ter pelo menos 4 caracteres.</small
                      >
                      <small *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength" class="form-text text-danger"
                        >A confirmação da senha não pode ter mais de 50 caracteres.</small
                      >
                    </ng-container>
                  </div>

                  <div style="margin-top: 10px; color: rgb(0, 176, 235); font-size: 20px">
                    <span>Criar uma conta como </span>
                    <a class="alert-link" (click)="newUser()">Colaborador</a>
                  </div>
                </div>

                <div class="login-actions">
                  <button pButton pRipple label="Cadastrar" (click)="register()" type="submit" data-cy="submit"></button>
                </div>

                <div style="margin-top: 10px; color: rgb(0, 176, 235); font-size: 20px">
                  <span>Já possui uma conta?</span>
                  <a href="../../login" class="alert-link">Faça login!</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>

<style>
  * {
    box-sizing: border-box;
  }

  .ImgFundo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../../content/images/Cadastro.png') no-repeat center/cover;
    z-index: -1;
  }

  .dividir {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    width: 100%;
  }

  .login-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hanken Grotesk';
  }

  .card-login {
    background: #fff;
    margin-top: 25%;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    max-width: 20%;
    text-align: center;
  }

  .form-login {
    display: flex;
    flex-direction: column;
  }

  .login-actions {
    margin-top: 10px;
  }

  .login-actions button {
    width: 100%;
    padding: 10px;
    background-color: #004aad;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  .login-actions button:hover {
    background-color: #003780;
  }

  .input-login {
    margin-bottom: 15px;
  }

  .input-login label {
    margin-bottom: 8px;
  }

  .input-login input {
    border-radius: 8px;
    padding: 10px;
    width: 100%;
  }

  .input-login input:focus {
    border-color: #004aad;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 74, 173, 0.5);
  }
</style>

<!-- <div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <h1 data-cy="registerTitle" appTranslate="register.title">Cadastro</h1>

      @if (success()) {
        <div class="alert alert-success" appTranslate="register.messages.success">
          <strong>Cadastro realizado com sucesso!</strong> Favor verificar seu e-mail para confirmar a conta.
        </div>
      }

      @if (error()) {
        <div class="alert alert-danger" appTranslate="register.messages.error.fail">
          <strong>Erro ao realizar o cadastro!</strong> Favor tentar novamente mais tarde.
        </div>
      }

      @if (errorUserExists()) {
        <div class="alert alert-danger" appTranslate="register.messages.error.userexists">
          <strong>Usuário já registrado!</strong> Favor escolher outro.
        </div>
      }

      @if (errorEmailExists()) {
        <div class="alert alert-danger" appTranslate="register.messages.error.emailexists">
          <strong>E-mail já está em uso!</strong> Por favor informe outro.
        </div>
      }

      @if (doNotMatch()) {
        <div class="alert alert-danger" appTranslate="global.messages.error.dontmatch">A senha e sua confirmação devem ser iguais!</div>
      }
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      @if (!success()) {
        <form name="form" (ngSubmit)="register()" [formGroup]="registerForm">
          <div class="mb-3">
            <label class="form-label" for="login" appTranslate="global.form.username.label">Usuário</label>
            <input
              type="text"
              class="form-control"
              id="login"
              name="login"
              placeholder="{{ 'global.form.username.placeholder' | translate }}"
              formControlName="login"
              data-cy="username"
              #login
            />

            @if (registerForm.get('login')!.invalid && (registerForm.get('login')!.dirty || registerForm.get('login')!.touched)) {
              <div>
                @if (registerForm.get('login')?.errors?.required) {
                  <small class="form-text text-danger" appTranslate="register.messages.validate.login.required"
                    >O usuário é obrigatório.</small
                  >
                }

                @if (registerForm.get('login')?.errors?.minlength) {
                  <small class="form-text text-danger" appTranslate="register.messages.validate.login.minlength"
                    >O usuário deve ter pelo menos 1 caractere.</small
                  >
                }

                @if (registerForm.get('login')?.errors?.maxlength) {
                  <small class="form-text text-danger" appTranslate="register.messages.validate.login.maxlength"
                    >O usuário não pode ter mais de 50 caracteres.</small
                  >
                }

                @if (registerForm.get('login')?.errors?.pattern) {
                  <small class="form-text text-danger" appTranslate="register.messages.validate.login.pattern"
                    >Your username is invalid.</small
                  >
                }
              </div>
            }
          </div>

          <div class="mb-3">
            <label class="form-label" for="email" appTranslate="global.form.email.label">E-mail</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="{{ 'global.form.email.placeholder' | translate }}"
              formControlName="email"
              data-cy="email"
            />

            @if (registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)) {
              <div>
                @if (registerForm.get('email')?.errors?.required) {
                  <small class="form-text text-danger" appTranslate="global.messages.validate.email.required"
                    >O e-mail é obrigatório.</small
                  >
                }

                @if (registerForm.get('email')?.errors?.invalid) {
                  <small class="form-text text-danger" appTranslate="global.messages.validate.email.invalid">E-mail inválido.</small>
                }

                @if (registerForm.get('email')?.errors?.minlength) {
                  <small class="form-text text-danger" appTranslate="global.messages.validate.email.minlength"
                    >O e-mail deve ter pelo menos 5 caracteres</small
                  >
                }

                @if (registerForm.get('email')?.errors?.maxlength) {
                  <small class="form-text text-danger" appTranslate="global.messages.validate.email.maxlength"
                    >O e-mail não pode ter mais de 50 caracteres</small
                  >
                }
              </div>
            }
          </div>

          <div class="mb-3">
            <label class="form-label" for="password" appTranslate="global.form.newpassword.label">Nova senha</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
              formControlName="password"
              data-cy="firstPassword"
            />

            @if (registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)) {
              <div>
                @if (registerForm.get('password')?.errors?.required) {
                  <small class="form-text text-danger" appTranslate="global.messages.validate.newpassword.required"
                    >A senha é obrigatória.</small
                  >
                }

                @if (registerForm.get('password')?.errors?.minlength) {
                  <small class="form-text text-danger" appTranslate="global.messages.validate.newpassword.minlength"
                    >A senha deve ter pelo menos 4 caracteres</small
                  >
                }

                @if (registerForm.get('password')?.errors?.maxlength) {
                  <small class="form-text text-danger" appTranslate="global.messages.validate.newpassword.maxlength"
                    >A senha não pode ter mais de 50 caracteres</small
                  >
                }
              </div>
            }

            <app-password-strength-bar [passwordToCheck]="registerForm.get('password')!.value"></app-password-strength-bar>
          </div>

          <div class="mb-3">
            <label class="form-label" for="confirmPassword" appTranslate="global.form.confirmpassword.label"
              >Confirmação de nova senha</label
            >
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
              formControlName="confirmPassword"
              data-cy="secondPassword"
            />

            @if (
              registerForm.get('confirmPassword')!.invalid &&
              (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)
            ) {
              <div>
                @if (registerForm.get('confirmPassword')?.errors?.required) {
                  <small class="form-text text-danger" appTranslate="global.messages.validate.confirmpassword.required"
                    >A confirmação da senha é obrigatória.</small
                  >
                }

                @if (registerForm.get('confirmPassword')?.errors?.minlength) {
                  <small class="form-text text-danger" appTranslate="global.messages.validate.confirmpassword.minlength"
                    >A confirmação da senha deve ter pelo menos 4 caracteres</small
                  >
                }

                @if (registerForm.get('confirmPassword')?.errors?.maxlength) {
                  <small class="form-text text-danger" appTranslate="global.messages.validate.confirmpassword.maxlength"
                    >A confirmação da senha não pode ter mais de 50 caracteres</small
                  >
                }
              </div>
            }
          </div>

          <button
            type="submit"
            [disabled]="registerForm.invalid"
            class="btn btn-primary"
            data-cy="submit"
            appTranslate="register.form.button"
          >
            Cadastrar
          </button>
        </form>
      }

      <div class="mt-3 alert alert-warning">
        <span appTranslate="global.messages.info.authenticated.prefix">Se deseja </span>
        <a class="alert-link" routerLink="/login" appTranslate="global.messages.info.authenticated.link">entrar</a
        ><span appTranslate="global.messages.info.authenticated.suffix"
          >, utilize as seguintes contas padrões:<br />- Administrador (usuário=&quot;admin&quot; and senha=&quot;admin&quot;) <br />-
          Usuário (usuário=&quot;user&quot; e senha=&quot;user&quot;).</span
        >
      </div>
    </div>
  </div>
</div> -->
